<p>addstaff works!</p>
<div class="container">
    <button class="btn btn-secondary" style="margin-left: 1200px;" routerLink="/adminhome">Home</button>
    <h3>Staff Registration</h3>
    <form [formGroup]="staffForm" (ngSubmit)="addStaff()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
          placeholder="Enter your Name"
          name="name"
         formControlName="name"
          >
          <span *ngIf="staffForm.get('name')?.invalid && staffForm.get('name')?.touched" style="color: red;">Name Is Mandatory</span>
        </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Enter your Email"
              name="email"
              formControlName="email"
              >
              <span *ngIf="staffForm.get('email')?.invalid && staffForm.get('email')?.touched" style="color: red;">email Is Mandatory</span>
            </div>

        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" class="form-control" id="pass"
          placeholder="Enter Password"
          name="password"
          formControlName="password">
              <span *ngIf="staffForm.get('password')?.invalid && staffForm.get('password')?.touched" style="color: red;">password Is Mandatory</span>
        </div>
          <div class="form-group">
            <label for="id">Manager ID</label>
            <input type="text" class="form-control" id="id" aria-describedby="emailHelp"
            placeholder="Enter your Manager ID"
            name="id"
            formControlName="id"
            >
                <span *ngIf="staffForm.get('id')?.invalid && staffForm.get('id')?.touched" style="color: red;">Manager ID Is Mandatory</span>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>