<div class="container" style="border-radius: 10px 15px 15px 10px;">
  <h2 class="text-justify text-center mb-5">Create Menu</h2>
  <form [formGroup]="userForm">
        <h3 class="text-justify text-center mb-5">Items</h3>
        <button class="btn btn-secondary" style="margin-left: 1100px; margin-bottom: 50px;" routerLink="/adminhome">Home</button>
      <div formArrayName="items" class="container" style="border-radius: 10px 15px 15px 10px;">
          <div *ngFor="let child of userForm.get('items')['controls'];let i=index"formGroupName="{{i}}">
              <hr>
              <div class="form-outline mb-4">
                  <input 
                  type="text" 
                  class="form-control form-control-lg"
                  id="name" 
                  name="name"
                  formControlName="name"
                  placeholder="Name">
                </div>
          
        <div class="form-outline mb-4">
          <input 
          type="text" 
          class="form-control form-control-lg"
          id="description" 
          name="description"
          formControlName="description"
          placeholder="Description">
        </div>

        <div class="form-outline mb-4">
          <input 
          type="text" 
          class="form-control form-control-lg"
          id="availability" 
          name="availability"
          formControlName="availability"
          placeholder="Availability">
        </div>

        <div class="form-outline mb-4">
          <input 
          type="text" 
          class="form-control form-control-lg"
          id="price" 
          name="price"
          formControlName="price"
          placeholder="Price">
        </div>

        <div class="form-outline mb-4">
          <input 
          type="text" 
          class="form-control form-control-lg"
          id="quantity" 
          name="quantity"
          formControlName="quantity"
          placeholder="Quantity">
        </div>   
        <button type="submit" class="btn btn-danger" (click)="removeItem(i)">Remove Item</button>         
  </div>
</div>
<hr>
<div><button type="submit" class="btn btn-primary" (click)="addItem()">New Item</button></div>
<br>
<button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="addMenu()">Create Menu</button>
<br>
    </form>
  </div>