<p>display-orders works!</p>
<div class="container">
  <h3 style="margin-left:420px ; margin-bottom: 20px;">Order-Details</h3>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">billingAmount</th>
            <th scope="col">customerEmail</th>
            <th scope="col">customerName</th>
            <th scope="col">items</th>
            <th scope="col">item price</th>
            <th scope="col">item ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of result ">
            <td>{{a.id}}</td>
            <td>{{a.billingAmount}}</td>
            <td>{{a.customerEmail}}</td>
            <td>{{a.customerName}}</td>
            <td>{{a.items.name}}</td>
            <td>{{a.items.price}}</td>
            <td>{{a.items.id}}</td>
   
            
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-secondary" style="margin-left: 900px;" routerLink="/adminhome">back</button>
      </div>
</div>
